target
.settings
.classpath
.project
.springBeans
*~
#For Idea project files
.idea
*.iml
gradle-app.setting
#idea output folder - why here?
out
classes
#For gradle builds
build
.gradle
bin
#TODO - why querydsl generated source are in src?
generated

